<ion-content padding>
	<div *ngIf="!loginSuccess">
		<form #form="ngForm" (ngSubmit)="loginForm(form)" novalidate>
			<h1>Enter IP Adress</h1>
			<ion-item>
				<ion-label>IP</ion-label>
				<ion-input type="text" required [(ngModel)]="ip.address" name="address"></ion-input>
			</ion-item>
			<button ion-button color="primary" type="submit" class="login">Login</button>
		</form>
	</div>

	<div *ngIf="loginSuccess"> 
		<div *ngIf="shareService.loaded">
			<header-component></header-component>
			<!-- Robot Center -->
			<div class="roboto">
				<div class="center">
					<div class="roboto-img">
						<img src="{{splashImg}}"/>
					</div>
				</div>
			</div>			
			<div id="main-buttons">
				<!--Buttons to call stuff-->
				<div>
					<button ion-button (click)="openActions()"><ion-icon name="walk"></ion-icon></button>
					<button ion-button (click)="openSay()"><ion-icon name="text"></ion-icon></button>
				</div>
				<div>
					<button ion-button (click)="openManual()"><ion-icon name="book"></ion-icon></button>
					<button ion-button (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
				</div>
			</div>		
		</div>
	</div>
</ion-content>